input(type="text" id="name-text")
h4 Ingredients 
textarea(name="ingredients-text", cols="30" rows="10" id="ingredients-text")
button(id="add-ingredient" type="button" class="btn") Add ingredient 
h4 instructions 
textarea(name="instructions-text", cols="30" rows="10" id="instructions-text")
button(id="add-instruction" type="button" class="btn") Add instruction 
button(id="submit" type="submit" class="btn") Submit 

h4 Add file
input(type="file" id="image-input" accept="image/png, image/jpeg" multiple)